body {
    background-color: rgb(241, 243, 255);
}

.formulario {
    height: 50vh;
    margin-top:10vh;
    margin-bottom: 25vh;
    margin-left: 13vw;
    margin-right: 13vw;
}

h1 {
    text-align: center;
    margin: 0;
}

.contenedor {
    display: flex;
    flex-direction: row;
    height: 87vh;
    background-color: #e8e9e9;
}

.parte2 {
    text-align: center;
    width: 100%;
    color: #398581;
    margin-left: 20vw;
    margin-right: 20vw;
}

input {
    padding: 0px;
    padding-block: 0px;
    padding-inline: 0px;
}

label {
    display: block;
    text-align:left;
    margin-bottom: 1vh;
    margin-top: 3vh;
    font-family: 'Roboto';
}

input[type="text"] {
    padding: 0.8vw;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 94%;
    color: #808080
}

input[type="submit"] {
    background-color: #00C6B3;
    margin-top: 4vh;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    border: 0px solid black;
    width: 100%;
}

form {
    width: 100%;
    margin: 0;
    padding: 0;
}

input[type="submit"]:hover {
    background-color: #10e0cb;
    cursor: pointer;
}

body {
    font-family: 'Roboto';
    margin: 0;
}