* {
    /* Change your font family */
    font-family: sans-serif;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #825382;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #825382;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #825382;
}

.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}

.parte2 {
    padding-left: 34vw;
    padding-right: 34vw;
    padding-top: 15vh;
    padding-bottom: 15vh;
    
}

body {
    background-color: #e8e9e9;
}

.nueva-divisa {
    background-color: #825382;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    border: 0px solid black;
    width: 97%;
}

button:hover {
    background-color: #825382;
    cursor: pointer;
}

button {
    transition: 0.3s;
}