#right a:hover {
    background-color: #398581;
    color: #DAE8E7;
    border-radius: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgb(15, 12, 58);*/
    /*background-color: #001f3f;*/
    background-image: linear-gradient(62deg, #398581 0%, #00C6B3 100%);
    padding: 10px;
}

#right > .a-top-nav {
    margin-left: 25px;
    text-decoration: none;
    color: #DAE8E7;
    font-weight: 1000;
    padding: 12px;
}

body {
    margin: 0;
}

#right {
    margin-right: 10%;
}

#logo {
    margin-left: 10%;
}

#registrate {
    margin-left: 25px;
    background-color: #DAE8E7;
    color: #00C6B3;
    font-weight: 1000;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 10px;
    text-decoration: none;
}