{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- (INICIO) CONFIGURACIÓN PARA TAILWIND CSS USANDO CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    <!-- (FIN) CONFIGURACIÓN PARA TAILWIND CSS USANDO CDN -->

</head>

<body>

    <!-- (INICIO) COMPONENTE TAILWIND CSS STORE NAVIGATION / WITH FEATURED CATEGORIES (EDITADO) -->
    <div class="bg-white">

        <header class="relative bg-white">
            <p
                class="flex h-10 items-center justify-center bg-purple-600 px-4 text-sm font-medium text-white sm:px-6 lg:px-8">
                Obtenga delivery gratis en compras mayores a 100 soles</p>

            <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="border-b border-gray-200">
                    <div class="flex h-16 items-center">
                        <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
                        <button type="button" class="relative rounded-md bg-white p-2 text-gray-400 lg:hidden">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open menu</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>

                        <!-- Logo -->
                        <div class="ml-4 flex lg:ml-0">
                            <a href="{% url 'inicio' %}">
                                <span class="sr-only">Your Company</span>
                                <img class="h-8 w-auto" src="{% static 'images/logo.jpg' %}" alt="">
                            </a>
                        </div>

                        <!-- Flyout menus -->
                        <div class="hidden lg:ml-8 lg:block lg:self-stretch">
                            <div class="flex h-full space-x-8">
                                <a href="{% url 'Categorías de los Productos' %}"
                                    class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">Productos</a>
                                <a href="#"
                                    class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">Servicios</a>
                                <a href="#"
                                    class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">Empresa</a>
                            </div>
                        </div>

                        <div class="ml-auto flex items-center">
                            <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
                                <a href="{% url 'iniciar_sesion' %}"
                                    class="text-sm font-medium text-gray-700 hover:text-gray-800">Iniciar
                                    Sesión</a>
                                <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
                                <a href="{% url 'registrar_usuario' %}"
                                    class="text-sm font-medium text-gray-700 hover:text-gray-800">Crear
                                    cuenta</a>
                            </div>

                            <div class="hidden lg:ml-8 lg:flex">
                                <a href="#" class="flex items-center text-gray-700 hover:text-gray-800">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Peru.svg"
                                        alt="" class="block h-auto w-5 flex-shrink-0">
                                    <span class="ml-3 block text-sm font-medium">PEN</span>
                                    <span class="sr-only">, change currency</span>
                                </a>
                            </div>

                            <!-- Search -->
                            <div class="flex lg:ml-6">
                                <a href="#" class="p-2 text-gray-400 hover:text-gray-500">
                                    <span class="sr-only">Search</span>
                                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                                    </svg>
                                </a>
                            </div>

                            <!-- Cart -->
                            <div class="ml-4 flow-root lg:ml-6">
                                <a id="open-button" class="group -m-2 flex items-center p-2">
                                    <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                    </svg>
                                    <span
                                        class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">2</span>
                                    <span class="sr-only">items in cart, view bag</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

    </div>
    <!-- (FIN) COMPONENTE TAILWIND CSS STORE NAVIGATION / WITH FEATURED CATEGORIES (EDITADO) -->

    <!-- (INICIO) COMPONENTE TAILWIND CSS PRODUCT OVERVIEWS / WITH IMAGE GRID -->
    <!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    theme: {
      extend: {
        gridTemplateRows: {
          '[auto,auto,1fr]': 'auto auto 1fr',
        },
      },
    },
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
    <div class="bg-white">
        <div class="pt-6">
            <nav aria-label="Breadcrumb">
                <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                    <li>
                        <div class="flex items-center">
                            <a href="{% url 'Categorías de los Productos' %}" class="mr-2 text-sm font-medium text-gray-900">Productos</a>
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
                                class="h-5 w-4 text-gray-300">
                                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <a href="{% url 'Productos de Teclados' %}" class="mr-2 text-sm font-medium text-gray-900">Teclados</a>
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true"
                                class="h-5 w-4 text-gray-300">
                                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                            </svg>
                        </div>
                    </li>

                    <li class="text-sm">
                        <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">Teclado
                            Gamer Xtrike Me Kb-306 Sp Rgb Backlit</a>
                    </li>
                </ol>
            </nav>

            <!-- Image gallery -->
            <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
                <div class="aspect-h-4 aspect-w-3 hidden overflow-hidden rounded-lg lg:block">
                    <img src="{% static 'images/productos/1/13.jpg' %}"
                        alt="Two each of gray, white, and black shirts laying flat."
                        class="h-full w-full object-cover object-center">
                </div>
                <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
                    <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
                        <img src="{% static 'images/productos/1/12.jpg' %}" alt="Model wearing plain black basic tee."
                            class="h-full w-full object-cover object-center">
                    </div>
                    <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
                        <img src="{% static 'images/productos/1/11.jpg' %}" alt="Model wearing plain gray basic tee."
                            class="h-full w-full object-cover object-center">
                    </div>
                </div>
                <div class="aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 sm:overflow-hidden sm:rounded-lg">
                    <img src="{% static 'images/productos/1/14.jpg' %}" alt="Model wearing plain white basic tee."
                        class="h-full w-full object-cover object-center">
                </div>
            </div>

            <!-- Product info -->
            <div
                class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
                <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
                    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Teclado Gamer Xtrike Me
                        Kb-306 Sp Rgb Backlit</h1>
                </div>

                <!-- Options -->
                <div class="mt-4 lg:row-span-3 lg:mt-0">
                    <h2 class="sr-only">Información de Producto</h2>
                    <p class="text-3xl tracking-tight text-gray-900">S/69.90</p>

                    <!-- Reviews -->
                    <div class="mt-6">
                        <h3 class="sr-only">Reseñas</h3>
                        <div class="flex items-center">
                            <div class="flex items-center">
                                <!-- Active: "text-gray-900", Default: "text-gray-200" -->
                                <svg class="h-5 w-5 flex-shrink-0 text-gray-900" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                        clip-rule="evenodd" />
                                </svg>
                                <svg class="h-5 w-5 flex-shrink-0 text-gray-900" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                        clip-rule="evenodd" />
                                </svg>
                                <svg class="h-5 w-5 flex-shrink-0 text-gray-900" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                        clip-rule="evenodd" />
                                </svg>
                                <svg class="h-5 w-5 flex-shrink-0 text-gray-900" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                        clip-rule="evenodd" />
                                </svg>
                                <svg class="h-5 w-5 flex-shrink-0 text-gray-200" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <p class="sr-only">4 de 5 estrellas</p>
                            <a href="#" class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500">117
                                reseñas</a>
                        </div>
                    </div>

                    <form class="mt-10">
                        <button type="submit"
                            class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Añadir
                            al carrito</button>
                    </form>
                </div>

                <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
                    <!-- Description and details -->
                    <div>
                        <h3 class="sr-only">Descripción</h3>

                        <div class="space-y-6">
                            <p class="text-base text-gray-900">Teclado para Gamers en Español (con tecla ñ), 115 teclas
                                en total. Tiene botones exclusivos de acceso y control rápido al volumen, reproductor
                                multimedia, correo y más. Las teclas son de acción silenciosa y suave, gracias a una
                                membrana de alta calidad con capacidad para más de 10 millones de pulsaciones. Tiene
                                retroiluminación RGB automática. Especificaciones técnicas: ¿ Teclas: 115 ¿ Tipo de
                                interruptor: Membrana ¿ Fuerza de funcionamiento: 55±7g ¿ Ruta clave: 3.8 ± 0.4 mm ¿
                                Duración de interruptor: 10 millones de pulsaciones ¿ Retroiluminación: arcoíris ¿
                                Tamaño: 448 x 175 x 33 mm ¿ Peso: 575g ¿ Longitud del Cable: 1.5m ¿ Interfaz: USB 2.0 ¿
                                Compatibilidad con todos los sistemas operativos. Plug & play</p>
                        </div>
                    </div>

                    <div class="mt-10">
                        <h3 class="text-sm font-medium text-gray-900">Especificaciones</h3>

                        <div class="mt-4">
                            <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
                                <li class="text-gray-400"><span class="text-gray-600">Marca: Xtrike Me</span>
                                </li>
                                <li class="text-gray-400"><span class="text-gray-600">Alto: 44.8 cm</span></li>
                                <li class="text-gray-400"><span class="text-gray-600">Ancho: 17.5 cm</span>
                                </li>
                                <li class="text-gray-400"><span class="text-gray-600">Modelo: KB-306 SP</span></li>
                                <li class="text-gray-400"><span class="text-gray-600">Compatibilidad: Windows/iOS</span>
                                </li>
                                <li class="text-gray-400"><span class="text-gray-600">País de origen: China</span></li>
                                <li class="text-gray-400"><span class="text-gray-600">Entrada: USB</span></li>
                                <li class="text-gray-400"><span class="text-gray-600">Garantía del proveedor: 6
                                        Meses</span></li>
                                <li class="text-gray-400"><span class="text-gray-600">Conectividad/conexión: USB</span>
                                </li>
                                <li class="text-gray-400"><span class="text-gray-600">Incluye accesorios: No</span></li>
                                <li class="text-gray-400"><span class="text-gray-600">Largo del cable: 150 cm</span>
                                </li>
                                <li class="text-gray-400"><span class="text-gray-600">Peso: 575g</span></li>
                                <li class="text-gray-400"><span class="text-gray-600">Profundidad: 3.3 cm</span></li>
                                <li class="text-gray-400"><span class="text-gray-600">Tipo: Teclado gamer</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="mt-10">
                        <h2 class="text-sm font-medium text-gray-900">Detalles</h2>

                        <div class="mt-4 space-y-6">
                            <p class="text-sm text-gray-600">Teclado para Gamers en Español (con tecla ñ), 115 teclas en
                                total. Tiene botones exclusivos de acceso y control rápido al volumen, reproductor
                                multimedia, correo y más. Las teclas son de acción silenciosa y suave, gracias a una
                                membrana de alta calidad con capacidad para más de 10 millones de pulsaciones. Tiene
                                retroiluminación RGB automática. Especificaciones técnicas: ¿ Teclas: 115 ¿ Tipo de
                                interruptor: Membrana ¿ Fuerza de funcionamiento: 55±7g ¿ Ruta clave: 3.8 ± 0.4 mm ¿
                                Duración de interruptor: 10 millones de pulsaciones ¿ Retroiluminación: arcoíris ¿
                                Tamaño: 448 x 175 x 33 mm ¿ Peso: 575g ¿ Longitud del Cable: 1.5m ¿ Interfaz: USB 2.0 ¿
                                Compatibilidad con todos los sistemas operativos. Plug & play</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- (FIN) COMPONENTE TAILWIND CSS PRODUCT OVERVIEWS / WITH IMAGE GRID -->

    <!-- (INICIO) COMPONENTE TAILWIND CSS SHOPPING CARTS / SLIDE-OVER -->
    <div id="slide-over" class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
        <!--
          Background backdrop, show/hide based on slide-over state.
      
          Entering: "ease-in-out duration-500"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in-out duration-500"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <div class="fixed inset-0 overflow-hidden">
            <div class="absolute inset-0 overflow-hidden">
                <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
                    <!--
                Slide-over panel, show/hide based on slide-over state.
      
                Entering: "transform transition ease-in-out duration-500 sm:duration-700"
                  From: "translate-x-full"
                  To: "translate-x-0"
                Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
                  From: "translate-x-0"
                  To: "translate-x-full"
              -->
                    <div class="pointer-events-auto w-screen max-w-md">
                        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
                            <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                                <div class="flex items-start justify-between">
                                    <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Carrito de
                                        compra
                                    </h2>
                                    <div class="ml-3 flex h-7 items-center">
                                        <button id="close-button" type="button"
                                            class="relative -m-2 p-2 text-gray-400 hover:text-gray-500">
                                            <span class="absolute -inset-0.5"></span>
                                            <span class="sr-only">Close panel</span>
                                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M6 18L18 6M6 6l12 12" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                                <div class="mt-8">
                                    <div class="flow-root">
                                        <ul role="list" class="-my-6 divide-y divide-gray-200">
                                            <li class="flex py-6">
                                                <div
                                                    class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                                    <img src="{% static 'images/productos/1/12.jpg' %}"
                                                        alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
                                                        class="h-full w-full object-cover object-center">
                                                </div>

                                                <div class="ml-4 flex flex-1 flex-col">
                                                    <div>
                                                        <div
                                                            class="flex justify-between text-base font-medium text-gray-900">
                                                            <h3>
                                                                <a href="{% url 'Detalles Generales de un Producto' %}">Teclado Gamer Xtrike Me Kb-306 Sp Rgb Backlit</a>
                                                            </h3>
                                                            <p class="ml-4">S/69.90</p>
                                                        </div>
                                                        <p class="mt-1 text-sm text-gray-500">Teclados</p>
                                                    </div>
                                                    <div class="flex flex-1 items-end justify-between text-sm">
                                                        <p class="text-gray-500">Cantidad: 1</p>

                                                        <div class="flex">
                                                            <button type="button"
                                                                class="font-medium text-indigo-600 hover:text-indigo-500">Quitar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="flex py-6">
                                                <div
                                                    class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                                    <img src="{% static 'images/productos/2/21.jpg' %}"
                                                        alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch."
                                                        class="h-full w-full object-cover object-center">
                                                </div>

                                                <div class="ml-4 flex flex-1 flex-col">
                                                    <div>
                                                        <div
                                                            class="flex justify-between text-base font-medium text-gray-900">
                                                            <h3>
                                                                <a href="#">Teclado Gamer Xtrike Me Kb-280 Sp Rgb Backlit</a>
                                                            </h3>
                                                            <p class="ml-4">S/59.90</p>
                                                        </div>
                                                        <p class="mt-1 text-sm text-gray-500">Teclados</p>
                                                    </div>
                                                    <div class="flex flex-1 items-end justify-between text-sm">
                                                        <p class="text-gray-500">Cantidad: 1</p>

                                                        <div class="flex">
                                                            <button type="button"
                                                                class="font-medium text-indigo-600 hover:text-indigo-500">Quitar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <!-- More products... -->
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                                <div class="flex justify-between text-base font-medium text-gray-900">
                                    <p>Subtotal</p>
                                    <p>S/262.00</p>
                                </div>
                                <p class="mt-0.5 text-sm text-gray-500">Envío e IGV calculados en Checkout.</p>
                                <div class="mt-6">
                                    <a href="#"
                                        class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Checkout</a>
                                </div>
                                <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
                                    <p>
                                        o
                                        <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">
                                            Continua Comprando
                                            <span aria-hidden="true"> &rarr;</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- (FIN) COMPONENTE TAILWIND CSS SHOPPING CARTS / SLIDE-OVER -->

    <script>

        document.addEventListener('DOMContentLoaded', (event) => {

            // (INICIO) ABRIR Y CERRAR COMPONENTE TAILWIND CSS SHOPPING CARTS / SLIDE-OVER
            const slideOver = document.getElementById('slide-over');
            const closeButton = document.getElementById('close-button');
            const openButton = document.getElementById('open-button');
            slideOver.classList.remove('block');
            slideOver.classList.add('hidden');

            function openSlideOver() {
                slideOver.classList.remove('hidden');
                slideOver.classList.add('block');
            }

            function closeSlideOver() {
                slideOver.classList.remove('block');
                slideOver.classList.add('hidden');
            }

            openButton.addEventListener('click', openSlideOver);
            closeButton.addEventListener('click', closeSlideOver);
            // (FIN) ABRIR Y CERRAR COMPONENTE TAILWIND CSS SHOPPING CARTS / SLIDE-OVER

        });

    </script>

</body>

</html>