{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/top-nav.css' %}">
</head>

<body class="body-top-nav">
    <nav class="nav">
        <a class="logo" href="{% url 'inicio' %}" id="logo">
            <img src="{% static 'images/logo.jpg' %}" style="height: 60px; width: 60px;">
        </a>
        <div id="right">
            {% if top_nav_context.is_user_authenticated %}
                <a class="a-top-nav" href="{% url 'inicio' %}">Inicio</a>
                <a class="a-top-nav" href="{% url 'index_productos' %}">Gestionar productos</a>
                <a class="a-top-nav" href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>
            {% else %}
                <a class="a-top-nav" href="{% url 'inicio' %}">Inicio</a>
                <a class="a-top-nav" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
                <a id="registrate" href="{% url 'registrar_usuario' %}">Regístrate</a>
            {% endif %}
        </div>
    </nav>
    
</body>

</html>